# Ignore everything in this Unity project by default.
/*

# Keep this rule file and the QvPen package only.
!/.gitignore
!/README.md
!/Assets/
/Assets/*
!/Assets/QvPen.meta
!/Assets/QvPen/

# Keep Unity and VPM package manifests.
!/Packages/
/Packages/*
!/Packages/manifest.json
!/Packages/packages-lock.json
!/Packages/vpm-manifest.json
